In [ ]:
# Ciclo para 5
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# Declaracion de variables
for x in range(10,20): print(x)

10
11
12
13
14
15
16
17
18
19

In [ ]:
# Ciclo para 7
for x in range(100,200,2): print(x)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [ ]:
# Ciclo para 8
inicio = int(input("inicio :"))
fin = int(input("fin :"))
incremento = int(input("incremento :"))
for x in range(inicio, fin, incremento):
   print(x)

inicio :100
fin :300
incremento :4
100
104
108
112
116
120
124
128
132
136
140
144
148
152
156
160
164
168
172
176
180
184
188
192
196
200
204
208
212
216
220
224
228
232
236
240
244
248
252
256
260
264
268
272
276
280
284
288
292
296

In [ ]:
# Tabla de multiplicar de un numero
mult=0
tabla = int(input("que tabla desea : "))
for x in range(10):
 mult = tabla * x
 print("la respuesta es : ", mult)

que tabla desea : 7
la respuesta es :  0
la respuesta es :  7
la respuesta es :  14
la respuesta es :  21
la respuesta es :  28
la respuesta es :  35
la respuesta es :  42
la respuesta es :  49
la respuesta es :  56
la respuesta es :  63

In [ ]:
# Tabla de multiplicar de un numero
mult=0
tabla = int(input("que tabla desea : "))
for x in range(1,11):
 mult = tabla * x
 print(str(tabla)+" x "+str(x)+" = "+str(mult))

que tabla desea : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
# Tabla de multiplicar de un numero
mult=0
tabla = int(input("que tabla desea : "))
for x in range(1,11) :
 mult = tabla * x
 print(str(tabla)+" x "+str(x)+" = "+str(mult))

que tabla desea : 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
# Tabla de multiplicar de un numero
mult = 0
tabla = int(input("que tabla desea "))
x=1
while x<= 11:
  mult = tabla * x